<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="../Scripts/jquery-3.1.1.js"></script>
    <link href="../Content/bootstrap.min.css" rel="stylesheet" />
    
    <script src="../Scripts/bootstrap.js"></script>
   
    
    <title>
        Register
    </title>

    
</head>
<body>

    <div id="nav-placeholder">

    </div>

    <script>
        $(function () {
            $("#nav-placeholder").load("navigationbar.html");
        });
    </script>

    <div class="container">
        <h1>Register</h1>
        <br />
        <br />
        <br />
        <br />
        <form>
            <div class="col-md-10 form-horizontal">
                <div class="form-group">
                    <label for="Username" class="col-md-2 control-label">Username: </label>
                    <div class="col-md-10">
                        <input type="text" class="form-control"  data-bind="value:UserName" />
                        <br />
                    </div>
                    <br />
                    <label for="Password" class="col-md-2 control-label">Password: </label>
                    <div class="col-md-10">
                        <input type="text" class="form-control" data-bind="value:Password"/>
                        <br />
                    </div>
                    <label for="Password2" class="col-md-2 control-label">Verify Password: </label>
                    <div class="col-md-10">
                        <input type="text" class="form-control" data-bind="value:Password2" />
                        <br />
                    </div>
                    <label for="E-mail" class="col-md-2 control-label">E-mail: </label>
                    <div class="col-md-10">
                        <input type="text" class="form-control" data-bind="value:Email" />
                    </div>
                </div>
            </div>
        </form>
    </div>
    <div class="container">
        
            <button class="btn btn-default" data-bind="click: RegBtn">Register</button>
        </div>
    <script src="../Scripts/knockout-3.4.2.js"></script>
    <script src="../Scripts/Register.js"></script>
</body>
</html>