<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <script src="../Scripts/jquery-3.1.1.js"></script>
    <link href="../Content/bootstrap.min.css" rel="stylesheet" />

    <script src="../Scripts/bootstrap.js"></script>
    <title>
        SinglePlayer
    </title>


</head>
<body>
    <div id="nav-placeholder">

    </div>

    <script>
        $(function () {
            $("#nav-placeholder").load("navigationbar.html");
        });
    </script>
    <div class="container-fluid">
        <h2>Single Player Game</h2>
        <br />
        <div class="col-sm-4 form-horizontal">
            <div class="form-group">
                <label for="mazeName" class="col-sm-2 control-label">Name</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" id="mazeName" />
                    <br />
                </div>
                <label for="cols" class="col-sm-2 control-label">columns</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" id="cols" />
                    <br />
                </div>
                <label for="rows" class="col-sm-2 control-label">rows</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" id="rows" />
                    <br />
                </div>
            </div>
            <div>
                <button class="btn btn-default center-block" id="StrtBtn">Start A New Game</button>

            </div>
            <label for="cols" class="col-sm-2 control-label" style="margin-left:50px"><br />Search Algo</label>
            <div class="dropdown ">
                <br />
                <button class="btn btn-default dropdown-toggle center-block" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true" id="dd">
                    algo
                    <span class="caret"></span>
                </button>
                <br /><br />
                <ul class="dropdown-menu  " aria-labelledby="dropdownMenu1">
                    <li><a href="#" data-value="action">Bfs</a></li>
                    <li><a href="#" data-value="another action">Dfs</a></li>
                   
                </ul>
            </div>
            <div>
               
                
                <button class="btn btn-default center-block" id="SlvBtn">Solve Game</button>

            </div>
        </div>

        <div class="col-sm-8 text-center">
            <canvas id="mazeCanvas" width="500" height="500" style="border:2px black solid"></canvas>

           

        </div>
    </div>
    <script src="../Scripts/jquery.mazeBoard.js"></script>
    <script src="../Scripts/Single.js"></script>
</body>
</html>